* {
	box-sizing: border-box;
}

body {
	background-image: url('../images/giphy-downsized.gif');
	background-size: cover;
	height: 100vh;
}
/*header*/



#headerLogo {
	position: relative;
	top: 20px;
	right:25%;
	left: 25%;
	height: 300px;
	border: 3px  
}

#game_title {
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: ITC serif Gothic;
	font-size: 24px;
	top: 250px;
}

a {
	background: white;
	color:black;
}

#logo_header, {
	color: white;
	position: absolute;
	top: 250px;
	left: 30%;
	right: 30%;
	font-size: 24px;
	font-weight: bold;
	font-family: ITC serif Gothic;
}


/*hangman*/

#lives {
	position: absolute;
	left: 10%;
	background-color: white;
	border-style: solid;
	border-color: white;
	border-radius: 4px;
	height: 100px;
	color: white


}

#anakin {
	position: absolute;
	left: 5%;
	background-color: black;
	border-style: solid;
	border-color: white;
	border-radius: 4px;
	height: 500px;
	width:1;
	color: white;
	right:45%;
}

#hangman {
	height: 100%;
	width: 100%
}

img {
	filter: grayscale(70%);
}

/*menu*/

#wins {
	position: absolute;
	right: 10%;
	height: 75px;
	top: 0px;
	border-radius: 4px;
	border-style: solid;
	border-color: white;
	background-color: white;

}

#lettersUsed {
	position: absolute;
	right: 10%;
	top: 80px;
	height: 75px;
	border-style: solid;
	border-color: white;
	border-radius: 4px;
	background-color: white;

}

#word{
	position: absolute;
	right: 10%;
	top: 160px;
	height: 200px;
	border-style: solid;
	border-color: white;
	border-radius: 4px;
	background-color: white;

}

#gamestatus {
	position: absolute;
	right: 10%;
	top: 365px;
	height: 200px;
	border-style: solid;
	border-color: white;
	border-radius: 4px;
	background: white;

}



/*body*/

#game-board {
	position: absolute;
	top: 400px;
	width: 100%;
}

