body {
    background-image: url('../images/giphy-downsized.gif');
	background-size: cover;
	height: 100vh;
}

.app-container {
    display: flex; 
    justify-content: space-evenly;
}

.white {
    color: black;
    background-color: white;
}

.container {
    padding:1em;
    margin:1em;
    border: .2em solid yellow;
    border-radius: 1em;
    background-color: black;
    color: yellow;
}

.button-container {
    margin:2em;
    border: .1em solid yellow;
    border-radius: 2em;
    background-color: black;
    color: yellow;
}